/* Two Column Style sheet based on Responsive Web Design .
** Designed By : Muhammad Mubashir Mufti
** Version : 1
** Date : June 17, 2015
*/  

.box-1 { 
	width: 37%; 
	/*margin-right: 10px;*/
	padding:20px;
	clear:left;
	/*height:300px;*/
	}

.box{ 
	width: 37%;
	margin-left: 10px;
	padding:20px;
	/*height:300px;*/
	}	
img {
	max-width:100%;  /* for RWD image*/
	}

@media (min-width:960px) and (max-width:1300px) {
}
@media (min-width:852px) and (max-width:959px) {
.first-post{
	width:81%;
	}
.box-1 { 
	width: 36.5%; 
	}

.box{ 
	width: 36.5%;
	}	
	
div #blog-title {
	font-size:2.2em;
    }
}	
@media (min-width:613px) and (max-width:851px) {
.first-post{
	width:82%;
	}
.box-1 { 
	width: 36.5%; 
	}

.box{ 
	width: 36.5%;
	}	
	
div #blog-title {
	font-size:1.8em;
    }
}	
@media (min-width:550px) and (max-width:612px) {
.first-post{
	width:85%;
	}
.box-1 { 
	width: 36%; 
	}

.box{ 
	width: 36%;
	}	
div #blog-title {
	font-size:1.6em;
	}

}


@media (min-width:500px) and (max-width:549px) {
.first-post{
	width:80%;
	}
.box-1 { 
	width:78% ; 
	padding:20px;
	/*height: 240px;*/
	}

.box{ 
	width: 78% ;
	margin-left: 0px;
	padding:20px;
	/*height:310px;*/
	}
div #blog-title {
	width:40%;
	font-size:1.5em;
    }

div #branding{
	width:60%;
	}	
}

@media (min-width:350px) and (max-width:499px) {
.first-post{
	float:none;
	width:80%;
	}
.box-1 { 
	width:78% ; 
	padding:20px;
	/*height: 240px;*/
	}

.box{ 
	width: 78% ;
	margin-left: 0px;
	padding:20px;
	/*height: 310px;*/
	}
div #blog-title {
	width:50%;
	font-size:1.5em;
	line-height:auto;	
    }

div #branding{
	width:50%;
	}
#main {
	margin-left:10px;
	}
#header {
	margin-left:20px;
	}
}

@media (max-width:349px) {
.first-post{
	float:none;
	width:73%;
	}
.box-1 { 
	width:70% ; 
	padding:20px;
	/*height: 240px;*/
	}

.box{ 
	width: 70% ;
	margin-left: 0px;
	padding:20px;
	/*height: 310px;*/
	}
div #blog-title {
	width:62%;
	font-size:1.3em;
	line-height:auto;	
    }

div #branding{
	width:38%;
	}
#main {
	margin-left:1px;
	}
#header {
	margin-left:10px;
	}
}
