/* Black and White*/
a, a:link, a:visited {
	color:#020203;
	}
.entry-title {
	background:#cae0c0;
	}
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #fff;
	}
#blog-title {
	background:#cae0c0;
	}
#blog-title a{
	color:#362d31;

}
.first-post, .box-1, .box {
	background-color:#fff;
		}	
.box {
	border-left:1px solid #cae0c0;
	
		}
.first-post {
	border-bottom:1px solid #cae0c0;
		}		
		