/* Three Column Style sheet based on Responsive Web Design .
** Designed By : Muhammad Mubashir Mufti
** Version : 1
** Date : June17 , 2015
*/ 
.first-post{
	width:83%;
	}
	
.box-1 { 
	width: 24%; 
	padding:20px;
	clear:left;
	}

.box{ 
	width: 24%;
	padding:20px;
	margin-left: 10px;
	/*height:355px;*/
	}	
img {
	max-width:100%;  /* for RWD image*/
	}

	
@media (min-width:960px) and (max-width:1200px) {
.first-post{
	width:86%;
	}
.box-1 { 
	width:24%; 
	}
.box{ 
	width:24%;
	}

}
@media (min-width:768px) and (max-width:959px) {
.first-post{
	width:86%;
	}
.box-1 { 
	width: 23%; 
	/*height:355px;*/
	padding:20px;
	margin-top:20px;
	margin-left:0px;
	margin-right:8px;
	
		}
.box{ 
	width: 23%;
	/*height:355px;*/
	padding:20px;
	margin-top:20px;
	margin-left:0px;
	margin-right:8px;
	}
div #blog-title {
	font-size:2rem;
    }		

}
@media (min-width:613px) and (max-width:767px) {
.first-post{
	width:88%;
	}
.box-1 { 
	clear:none;
    width: 38%; 
	padding:20px;
	margin-left:0px;
	margin-right:8px;
	}
.box{ 
	width: 38%;
	padding:20px;
	margin-left:0px;
	margin-right:8px;
	/*height:355px;*/
	}
div #blog-title {
	font-size:1.7rem;
    }

}	
@media (min-width:550px) and (max-width:612px) {
.first-post{
	width:85%;
	}
.box-1 { 
	clear:none;
	width:35% ; 
	padding:20px;
	margin-left:0px;
	margin-right:11px;
	}

.box{ 
	width: 35% ;
	padding:20px;
	margin-left:0px;
	margin-right:11px;
	}
div #blog-title {
	font-size:1.5em;
	line-height:auto;
    }
}
@media (min-width:500px) and (max-width:549px) {
.first-post{
	width:80%;
	}
.box-1 { 
	width:78% ; 
	padding:20px;
	/*height: 240px;*/
	}
.box{ 
	width: 78% ;
	margin-left: 0px;
	padding:20px;
	/*height: 310px;*/
	}
div #blog-title {
	width:40%;
	font-size:1.5rem;
    }
div #branding{
	width:60%;
	background-size:100% 100%;
	}	
}
@media (min-width:350px) and (max-width:499px) {
.first-post{
	float:none;
	width:80%;
	}
.box-1 { 
	width:78% ; 
	padding:20px;
	/*height: 240px;*/
	}

.box{ 
	width: 78% ;
	margin-left: 0px;
	padding:20px;
	/*height: 310px;*/
	}
div #blog-title {
	width:50%;
	font-size:1.5rem;
	line-height:auto;
    }

div #branding{
	width:50%;
	}
#main {
	margin-left:10px;
	}
#header{
	margin-left:20px;
	}
}
@media (max-width:349px) {
.first-post{
	float:none;
	width:73%;
	}
.box-1 { 
	width:70% ; 
	padding:20px;
	/*height: 240px;*/
	}
.box{ 
	width: 70% ;
	margin-left: 0px;
	padding:20px;
	/*height: 310px;*/
	}
div #blog-title {
	width:62%;
	font-size:1.2rem;
	line-height:auto;	
    }
div #branding{
	width:38%;
	}
#main {
	margin-left:10px;
	}
#header{
	margin-left:10px;
	}
}