/* Asfur 1 */
a, a:link, a:visited {
	color:#020203;
	}
.entry-title {
	background:#a6c2cf;
	}
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #e3d77b;
	}
#header {
	background:#cb7be3;
	}
#blog-title a{
color:#020203;

}
.first-post, .box-1, .box {
	background:#cb7be3;
		}