
/* Akhzur 4 */
a, a:link, a:visited {
	color:#304466;
	}
/*.entry-title {
	background:#;
	}*/
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #85b66d;
	}
#head {
	background:#85b66d;
	}
#blog-title a{
color:#b4cfa6;

}
.first-post, .box-1, .box {
	background:#b4cfa6;
	}

