/* =Homepage specific styles
-------------------------------------------------------------- */
	
body.home #container {
	float: none;
	margin: 0;
	width:960px;
}
body.home #content {
	width: 960px;
	overflow: hidden;
	margin: 0 0 0 10px;
}
body.home .hentry {
	width: inherit;
}

/* =Mission statement template styles
-------------------------------------------------------------- */
body.page-template-mission_statement-php #content {
	width:900px;
	overflow:hidden;
	margin: 0 0 0 10px;
}
body.page-template-mission_statement-php .entry-content {
	font-size: 1.8em;
	line-height: 1.2em;
}
body.page-template-mission_statement-php .hentry {
	width: inherit;
}

/* =Blog specific styles
-------------------------------------------------------------- */
body.blog #container {
	/*float: none;
	* comment out to make aside bar move up
	*/
	margin: 0;
	width: 80%; /* must for RWD in the first post*/
}
body.blog #content {
	width: auto;
	overflow: hidden;
	margin: 0 0 0 10px;
}
body.blog .hentry {
	width: inherit;
}
/* =Global Elements
-------------------------------------------------------------- */

body, input, textarea {
    font:15px Georgia,serif;
    line-height:22px;
}
p, ul, ol, dd, pre {
	margin-bottom:22px;
	text-align:justify; /*mmm*/
	word-spacing:-1px;
	lectter-spacing:-1px;
	}
pre, code {
	font:14px Monaco, monospace;
	line-height:22px;
}
blockquote {
    color:#666;
    font-style:italic;
}
table {
    border:1px solid #ccc;
    border-width:1px 1px 0 1px;
    font-size:13px;
    line-height:18px;
    margin:0 0 22px 0;
    text-align:left;
}
caption {
    text-align:left;
}
tr {
    border-bottom:1px solid #ccc;
}
th, td {
    padding: .7em 1.25em;
}
hr {
    background-color:#ccc;
    border:0;
    height:1px;
    margin-bottom:22px;
}
.ie7 hr {
	background-color:transparent;
	color:#ccc;
}
a:link {
    color:#004B91;
}
a:visited {
    color:#743399;
}
a:active,
a:hover {
    color: #FF4B33;
}


/* =Header
 * Header = Blog-title + Branding
*/
#header {
	height:74px;
    z-index:1;
	border-radius:6px;
	border-bottom:1px solid #ccc;
	}
	
#branding {
	height:74px;
	background-repeat: no-repeat;
	width:68.8%;
	float:right; 
	padding:0px 0 0px 0;
	margin: 0px 0 0px 0;
		}
div #branding svg{ 
	height:74px;  /*controlling the svg logo height from here, giving same value as of header*/
	margin: 0 0 0px 10px;
	}

#blog-title {
	height:74px;
	width:30%;
	font-size:36px;
	/*font-weight:bold;*/
    /*color:#fff; */
	padding:0 0 0 15px;
	/*margin:0px 0 0px 0px;*/
	border-radius:5px 0 0 5px;
	float:left;
	} 
div #blog-title svg{ 
	height:90px;  /*controlling the svg logo height from here, giving same value as of header*/
	padding:0px 0 0 0;
	margin: 0 0 0px 0;
	}
	
#blog-title a {
	position:relative; /*mmm*/
	/*top:17px; */
	letter-spacing:-2px;
	teext-align:center;
    text-decoration:none;
	}

#blog-title a:active,
#blog-title a:hover {
    color: #fff;
}
#blog-description {
	display:none; /*mmm*/
    color:#eee;
    font-size:3px;
    font-style:italic;
}

/* =Menu
-------------------------------------------------------------- */

.skip-link {
    display:none;
}
/*** removing border bottom line *** mmm***/
/*
#access {
    border-bottom:1px solid #0;
    height:0px;
    font-size:13px;
    overflow:visible;
    z-index:100;
}
*/
/*** ESSENTIAL STYLES */

.sf-menu, .sf-menu * {
	margin:0 0 0 0;
	padding:0;
	list-style:none;
}
.sf-menu {
	line-height:1.0;
}
.sf-menu ul {
	positioyn:absolute;
	top:-999em;
	width:10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:auto;
}
.sf-menu li:hover {
	visibility:inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:left;
	position:relative;
}
.sf-menu a {
	display:block;
	position:relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:0;
	top:2.5em; /* match top ul list item height */
	z-index:99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:10em; /* match ul width */
	top:0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:10em; /* match ul width */
	top:0;
}

/*** THEMATIC SKIN ***/
.sf-menu  {/*making window size very large
	float:right;
	margin-left:860px;
	*/}

.sf-menu a {
  	border-color:#CCCCCC;
    border-style:solid;
    border-width:1px;
	padding:9px 13px;
	text-decoration:none;
	margin-left:-1px;
}

.ie7 .sf-menu a {
	width:100%;
}
.sf-menu .current-menu-item a,
.sf-menu .current-menu-parent a,
.sf-menu .current-menu-ancestor a,
.sf-menu .current-post-ancestor a,
.sf-menu .current_page_item a,
.sf-menu .current_page_ancestor a,
.sf-menu .current_page_parent a {
    border-bottom-color:#fff;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:#666;
}
.sf-menu li {
	background:#fff;
}
.sf-menu li li {
	background:#fff;
}
.sf-menu li li li {
	background:#9AAEDB;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    background:#fafafa;
	outline: 0;
    border-bottom-color:#ccc;
}
.sf-menu ul {
    border-bottom:1px solid #ccc;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	top:32px; /* overriding essential styles */
}
.sf-menu ul ul {
    margin-top:0;
}
.sf-menu ul a {
    background:#fafafa;
	border-bottom:none;
}
.sf-menu ul a:hover {
    color: #FF4B33;
}

/* =Content
-------------------------------------------------------------- */
/* OLD: This was main hinderance in my RWD but no longer now strange!*/
#main {
    clear:both;
    padding:50px 0 22px 0;
	margin:10px 0px 50px 70px;
}

.page-title {
    font-size:3px;
    line-height:18px;
    padding:0 0 44px 0;
}
.attachment .page-title {
    font-style:italic;
}
.page-title a {
    color:#fff;
    text-decoration:none;
}
.page-title a:active,
.page-title a:hover {
    color: #FF4B33;
}
.page-title span {
    font-style:italic;
}
.page-title .meta-nav {
    font-style:normal;
}
.hentry {
    padding:0 0 0px 0;
	/* bottom margin was set to 22px that was causing
	** problem with the column top alignment
	** I make it zero 
	*/
}
.single .hentry {
    padding:0;
}
.home #content .sticky {
    border:1px solid #ccc;
    margin:0 0 66px 0;
    padding:22px 20px 0 20px;
}
.first-post .entry-title {
	margin:-17px -17px 7px -17px;
	border-radius:5px 5px 0 0;
}
.box-1  .entry-title, .box .entry-title {
margin:-20px -20px 7px -20px;
border-radius:5px 5px 0 0;
}

.entry-title {
    /*font-family:Belgrano,Arial,sans-serif;*/
    font-size:26px;
    font-weight:bold;
    line-height:26px;
    padding:0 0 7px 0;
	font-weight:300;/*mmm*/
	
	padding:10px;
	}
.entry-title a {
	letter-spacing:-1px;/*mmm*/
    color:#000;
    text-decoration:none;
}
.entry-title a:active,
.entry-title a:hover {
    color: #FF4B33;
}
.entry-meta {
    color:#666;
    font-size:13px;
    font-style:italic;
    line-height:18px;
}

.entry-meta .author {
}
.entry-meta .n, .entry-meta .nickname {
    font-size:11px;
    font-style:normal;
    letter-spacing:0.05em;
    text-transform:uppercase;
}
.entry-meta a {
    color:#666;
    text-decoration:none;
}
.entry-meta a:active,
.entry-meta a:hover {
    color: #FF4B33;
}
.entry-meta abbr {
    border:none;
    cursor:text;
    font-size:11px;
    font-style:normal;
    letter-spacing:0.05em;
    text-transform:uppercase;
}
.entry-content {
    padding:22px 0 0 0;
}
.entry-content h1,
.entry-content h2 {
    font-family:Arial,sans-serif;
    font-size:19px;
    font-weight:bold;
    padding:28px 0 14px 0;
}
.entry-content h3 {
    font-size:17px;
    font-style:italic;
    padding:28px 0 14px 0;
}
.entry-content h4 {
    font-size:11px;
    font-family:Arial,sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.05em;
}
.entry-content table {
    margin-left:1px;
}
.entry-content embed {
    margin:0 0 22px 0;
}
.entry-utility {
	clear:both;
    color:#666;
    font-size:13px;
    line-height:18px;
    margin:0 0 44px 0;
}
.entry-utility a {
    color:#666;
    font-style:italic;
    text-decoration:none;
}
.entry-utility a:active,
.entry-utility a:hover {
    color: #FF4B33;
}
.page .edit-link {
	clear:both;
	display:block;
}
.page-link {
	clear:both;
    font-size:13px;
    font-weight:bold;
    line-height:18px;
    margin:0 0 22px 0;
    padding:22px 0 0 0;
    word-spacing:0.5em;
}
.page-link a {
    border:1px solid #ccc;
    color:#666;
    font-weight:normal;
    padding:0.5em 0.75em;
    text-decoration:none;
}
.page-link a:active,
.page-link a:hover {
    color: #FF4B33;
}
ul#links-page,
ul#archives-page {
    list-style:none;
    margin-left:0;
    overflow:hidden;
}
li.content-column {
    float:left;
    margin-right:20px;
    width:45%;
}
#author-info {
    margin:0 0 44px 0;
    overflow:hidden;
}
#author-info .avatar {
    float:left;
    margin:.3em 1em 0 0;
}


/* =Attachments
-------------------------------------------------------------- */

.attachment-jpeg #container,
.attachment-png #container {
    width:100%;
}
.attachment-jpeg #content,
.attachment-png #content {
    width:930px;
}
.attachment-jpeg #comments,
.attachment-png #comments {
    width:540px;
    overflow:hidden;
}
.attachment-jpeg .main-aside,
.attachment-png .main-aside {
    display:none;    
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
    color:#666;
    font-size:13px;
    line-height:18px;
    margin:0px 0 22px 0;
    overflow:hidden;
}
.navigation a {
    color:#666;
    font-style:italic;
    text-decoration:none;
}
.navigation a:active,
.navigation a:hover {
    color: #FF4B33;
}
.navigation .meta-nav {
    font-style:normal;
}
.nav-previous {
	float: left;
	width:50%;
}
.nav-next {
	float: right;
	width:50%;
	text-align:right;
}
#nav-above,#nav-below {
	width: 100%;
}
#nav-above {
    display:none;
}
.paged #nav-above {
    display:block;
    padding:0 0 44px 0;
}


/* =Comments
-------------------------------------------------------------- */

#comments {
	clear:both;
    padding:22px 0 0 0;
}
#comments,
#comments input,
#comments textarea {
    font-size:13px;
    line-height:18px;
}
#comments code {
    font-size:12px;
    line-height:18px;
}
#comments h3 {
    font-family:Arial,sans-serif;
    font-size:15px;
    font-weight:bold;
    line-height:22px;
    padding:0 0 18px 0;
}
#comments-list {
    border:1px solid #ccc;
    border-bottom:none;
    margin:0 0 18px;
}
#comments-list h3 {
	padding-bottom: 0;
}
#comments-list,
#comments-list ul {
    list-style:none;
}
#comments-list ul,
#comments-list ol {
    padding-bottom: 18px;
}
#comments-list ul ul,
#comments-list ol ol,
#comments-list ul ul ul,
#comments-list ol ol ol {
    padding-bottom:0;
}
#comments-list .comment {
    background:#fafafa;
    border-bottom:1px solid #ccc;
    padding:18px 1.5em 0 1.5em;
    position:relative;
}
#comments-list li.alt {
    background:#fff;
}
#comments-list li.bypostauthor {
    background:#FFFFCC;
}
#comments-list ul .comment {
    border:1px solid #ccc;
    margin:0 0 18px 0;
}
#comments-list li .avatar {
    position:absolute;
    top:22px;
    left:1.5em;
    width:36px;
    height:36px;
}
#comments-list .comment-author {
    font-weight:bold;
    padding:9px 0 0 46px;
}
#comments-list .comment-meta {
    color:#666;
    font-size:11px;
    padding:0 0 9px 46px;
}
#comments-list .comment-meta a {
    color:#666;
    font-style:italic;
    text-decoration:none;
}
#comments-list .comment-meta a:active,
#comments-list .comment-meta a:hover {
    color: #FF4B33;
}
.comment-reply-link {
    font-size:11px;
    padding:0 0 18px 0;
    text-align:right;
}
.comment-reply-link a {
    color:#666;
    font-style:italic;
    text-decoration:none;
}
.comment-reply-link a:active,
.comment-reply-link a:hover {
    color: #FF4B33;
}
.comment-navigation {
    font-weight:bold;
	padding: 18px 0 24px;
    margin-right:0.5em;
}
.comment-navigation a {
    border:1px solid #ccc;
    color:#666;
    font-weight:normal;
    padding:0.5em 0.75em;
    text-decoration:none;
}
.comment-navigation a:active,
.comment-navigation a:hover {
    color: #FF4B33;
}
.comment-navigation a,
.comment-navigation span {
    margin-right:0.5em;
}
#trackbacks-list .comment-content {
    position:absolute;
    left:-10000px;
}
#respond {
    background:#fff;
    margin-bottom:22px;
    overflow:hidden;
    padding:18px 0 0 0;
    position:relative;
}
#comments-list #respond {
    border-bottom:1px solid #ccc;
    margin:0 0 18px 0;
    padding:18px 1.5em;
}
#comments-list ul #respond {
    border:1px solid #ccc;
    margin:0;
}
#cancel-comment-reply {
    font-size:11px;
    position:absolute;
    top:18px;
    right:1.5em;
}
#cancel-comment-reply a {
    color:#666;
}
#respond .required {
    color:#FF4B33;
    font-weight:bold;
}
.form-section label {
    font-size:11px;
}
.form-section input {
    margin:0 0 18px 0;
    width:98%;
}
.form-section textarea {
    width:99%;
}
#form-allowed-tags p {
    color:#666;
    font-size:11px;
    margin:0;    
}
#form-allowed-tags span {
    font-style:italic;
}
#form-allowed-tags code {
    font-size:11px;
    line-height:normal;
}
.form-submit {
    padding:18px 0 0 0;
    text-align:right;
}
.subscribe-to-comments {
    color:#666;
    float:left;
    font-size:11px;
    margin:0;
    padding:18px 0 0 0;
}
.solo-subscribe-to-comments {
    color:#666;
    font-size:11px;
    padding:18px 0 0 0;
}
.comment_license {
    color:#666;
    clear:both;
    font-size:11px;
    margin:0;
    padding:18px 0 0 0;
}


/* =Asides, Sidebars & Widget-Ready Areas
-------------------------------------------------------------- */

.aside,
.aside input {
    font-size:13px;
    line-height:18px;
    margin-bottom:6px;
}
.aside p,
.aside ul,
.aside ol,
.aside dd,
.aside pre {
    margin-bottom:18px;
}
.aside pre,
.aside code {
    font-size:12px;
    line-height:18px;
}
.aside .current-menu-item a,
.aside .current_page_item a {
    color: #FF4B33;
}
.aside .current-menu-item .menu-item a,
.aside .current_page_item .menu-item a {
    color:#666;
}
.aside .current-menu-item .menu-item a:hover,
.aside .current-menu-item .menu-item a:active,
.aside .current_page_item .menu-item a:hover,
.aside .current_page_item .menu-item a:active {
    color: #FF4B33;
}
.aside {
    color:#666;
}
.aside a {
    color:#666;
}
.aside a:active,
.aside a:hover {
    color: #FF4B33;
}
.aside h3 {
    font-size:15px;
    font-style:italic;
    line-height:22px;
}
.aside h3 a {
    text-decoration:none;
}
.aside caption {
    font-size:11px;
    font-family:Arial,sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.05em;
}
.aside ul {
    list-style:none;
    margin-left:0;
}
.aside ul ul {
    list-style:disc;
    margin:0 0 22px 20px;
}
.aside ul ul li {
    padding:1px 0;
}
.aside ul ul ul {
    margin-bottom:0;
}
.aside form,
.aside table {
    margin-bottom:22px;
}
.aside table {
    border:none;
}
.aside thead {
    border:1px solid #ccc;
}
.aside tbody {
    border:1px solid #ccc;
}
.aside th, .aside td {
    border-right:1px solid #ccc;
    padding:.25em .8em;
}
.aside tfoot tr {
    border:none;
}
.aside tfoot td {
    border-color:transparent;
}
.widget_tag_cloud {
    margin:0 0 22px 0;
}
.aside #searchsubmit {
	display: none;	
}
/*
    Main Asides
*/
.main-aside ul {
    /*padding:0 20px;*/
	padding:0;
}
.main-aside h3 {
}
.main-aside ul ul {
    padding:0;
}
#primary {
	float:right;
	padding:1px 0 0 0;
	/*margin-bottom:22px;*/
	margin-bottom:2px;
    /*border:1px solid #ccc;*/
	/*padding:18px 0 0 0;*/
	width=20%;
	    
}
/*
    Content Asides
*/
#content .aside {
    border:1px solid #ccc;
    margin:0 0 22px 0;
    padding:18px 0 0 0;
}
#content .aside ul {
    padding:0 20px;
}
#content .aside h3 {
    font-family:Georgia,serif;
    font-weight:normal;
    font-size:17px;
    font-style:italic;
    padding:0 0 7px 0;
    text-transform:none;
}
#content .aside ul ul {
    padding:0;
}
/*
    Footer Asides
*/
#subsidiary {
    padding:33px 0 0 0;    
}


/* =Footer
-------------------------------------------------------------- */

#footer {
    border-top:1px solid #ccc;
    margin-top:22px;
}
#siteinfo {
    color:#666;
    font-size:11px;
    line-height:18px;
    padding:22px 0 44px 0;
}
#siteinfo a {
    color:#666;
}
#siteinfo a:active,
#siteinfo a:hover {
    color: #FF4B33;
}
/* =Custom Footer
-------------------------------------------------------------- */
body.home ul#simplepages {
width: 940px;
margin: 0 auto;
}
body.home ul#simplepages li {
list-style-type: none;
display: inline;
margin-right: 30px;
}

/* = MMM-Thumbnail post page

The crude way to make only 4 posts on home page with first post (291) as single post whereas the following 3 posts in 3 colums.
see post thumbnail example in wicked book. Better solution is either use super loop or counter to give proper ID number
to the Posts. See loop_lazy file.*/

/* Commenting out as I donot need this style in my site 
body.blog div.post-291 {
	font-size: 120%;
}
body.blog div.post-291 img {
	float: left;
	margin-right: 30px;
}
body.blog div.post-289 {
	clear:left;
	
	}
body.blog div.post-289  ,
body.blog div.post-197  ,
body.blog div.post-128  {
	width: 270px;
	float: left;
	margin-top: 22px;
}
body.blog div.post-197  {
	margin-left: 30px;
	margin-right: 30px;
}


/* From Admin POst Use category in the post to style 3 column posts
body.blog div.category-one {
	clear:left;
	
	}
body.blog div.category-one  ,
body.blog div.category-two  ,
body.blog div.category-three  {
	width: 250px;
	float: left;
	margin-top: 22px;
	border: #000 solid 3px;
	border-radius: 10px;
	padding:5px;
	font-family: Belgrano, Georgia, serif;
	font-size: 1.1em;
}
body.blog div.category-two  {
	margin-left: 30px;
	margin-right: 30px;
}
*/
/* Posts styles */ 

.first-post {
	padding:17px 17px 5px 17px;
	font-size:120%;
	background:#fff;
	border-radius:6px;
	float:left;
	width:80%;
	max-width:1200px;
	/*
	width:100%;
    height:0;
    padding:0;
	padding-bottom:100%;
    position:relative;*/
	}

/*	commenting in favour of svg image which is using WP already existing class wp-post-image*/
/*  see next style.
.first-post img {
	float:left;
	max-width:100%;
	padding:5px;
	height:100px;
		}
*/
/* I included a svg plugin to make svg image loadable in wp media library, see the plugin dashboard*/
/* In order to have this plugin working a class has to be assigned to IMG element */
/* in my case i found already existing class 'wp-post-image' by using developer tool*/
/*  then i linked this class through svg plugin setting.*/ 
/* In order to mke svg responsive in my post-thumbnail page I have to do some modification in  this plugin js file(svg-inline.js)*/
/* I included <viewBox> parameter after removing <height> and <width> attr.from <svg> element    */ 
svg .wp-post-image{
	float:left;
	osverflow:visible;
	maax-width:100%;
	/*position:absolute; 
	height:100%; 
	width:100%; 
	left:0; 
	top:0;*/
	}


.box-1 {
	font-size:120%;
	/*height: 355px;*/
	/*width:auto;*/ 
	float:left; 
	/*clear:left;*/
	/*border: #000 solid 1px;*/
	background:#fff;
	border-radius:6px;
	/*box-shadow: 5px 5px #cdc;	*/
	margin-top: 20px;
	overflow:hidden;
	/*text-overflow: ellipsis; 
	white-space: nowrap;*/
	/* used for equal height posts but its not working!!*/
	}
.box{
	font-size:120%;
	/*width:auto;*/
	/*height: 380px;*/
	overflow:hidden;
	float:left; 
	/*border: #ccc solid 1px;*/
	background:#fff;
	border-radius:6px;
	/*box-shadow: 5px 5px #cdc;*/
	margin-top: 20px;
	/*text-overflow: ellipsis;
	white-space: nowrap;*/
	}	


	/* Post excerpt More link style*/
.more-link {
	font-size:80%;
	color:#fff;
	text-decoration: none;
		}
/* ShortCodes Style
*/
blockquote.pull-quote {
	border-left: 1px dotted #CCC;
	padding: 5px 0 5px 20px;
	}
blockquote.pull-quote cite {
	display: block;
	text-align: right;
	}
blockquote.pull-quote cite:before {
	content: "—";
	}
blockquote.pull-quote p {
	font-size: 1.5em;
	line-height: 1.1em;
	}

