/* Akhzur 6 */
a, a:link, a:visited {
	color:#020203;
	}
/*.entry-title {
	background:#;
	}*/
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #b4cfa6;
	}
#header {
	background:#c1a6cf;
	}
#blog-title a{
color:#020203;

}
.first-post, .box-1, .box {
	background:#cfb3a6;
		}