/* Akhzer 2 */
a, a:link, a:visited {
	color:#304466;
	}
.entry-title {
	background:#a6c2cf;
	}
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #b58f99;
	}
#header {
	background:#a6c2cf;
	}
#blog-title a{
color:#304466;

}
.first-post, .box-1, .box {
	background:#b4cfa6;
	}

