/* Azruq 2 */
a, a:link, a:visited {
	color:#020203;
	}
/*.entry-title {
	background:#;
	}*/
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #cfbff7;
	}
#header {
	background:#b291fa;
	}
#blog-title a{
color:#020203;

}
.first-post, .box-1, .box {
	background:#b291fa;
		}	