/*
LAYOUT: One-Column (Right) Fixed
DESCRIPTION: Two-column 950px fixed layout with one sidebar right of content
*/

body {
    width:100%;
}
/*
#header {
	width:100%;
   position:relative;
}

#branding {
    wwidth:65%;
    mwargin:0 auto;
}
*/
#access {
   position:relative;
    /*overflow:hidden;*/
}
.menu {
    width:100%;
   margin:0 auto;
}
#main {
    width:auto;
    margin:0 auto;
   overflow:hidden;   /*should not be hidden for RWD but no longer now strange!*/
    position:relative;
}
#container {
    width:65%;
   float:left;
}
#content {
   margin:0 0 0 10px;
    width:57%;
   overflow:hidden;
}
.main-aside {
    width:20%; /* original 31%*/
    float:right;
    position:relative;
    right:10px;
	
}
/**/
#primary {
	margin: 50px 0 0 0;
	}
#secondary {
    clear:right;
}
#footer {    
    clear:both;
}

#subsidiary {
   width:100%;
   margin:0 auto;
   overflow:hidden;
}
#subsidiary .aside {
    width:40%; /*mmm*/
    float:left; /*mmm*/
    margin:0 0px 0 0; /*mmm*/
}

#subsidiary #third {
   margin:0;
}
#siteinfo {
    clear:both;
    width:100%;
    margin:0 auto;
}

/* =Page Templates
-------------------------------------------------------------- */

/*
    Full Width Template
*/

.page-template-template-page-fullwidth-php #container {
	margin:0;
	width:100%;
}

.page-template-template-page-fullwidth-php #content {
	/*margin: 0 0 0 10px;*/
	width:100%;
}

.page-template-template-page-fullwidth-php #comments {
    width:57%;
}
