/* Four Column Style sheet based on Responsive Web Design .
** Designed By : Muhammad Mubashir Mufti
** Version : 1
** Date : June 15, 2015
*/  

.first-post{
	width:87.5%;
	}
.box-1 { 
	width: 18%; 
	padding:20px;
	clear:left;
	}
.box{ 
	width: 18%;
	margin-left: 10px;
	padding:20px;
	}	
/*
img{
	max-width:100%   for RWD 
	}
*/
	
@media (min-width:1000px) and (max-width:1200px) {
.first-post{
	width:87%;
	}
.box-1 { 
	width:17%; 
	}
.box{ 
	width:17%;
	}	
}
@media (min-width:960px) and (max-width:1000px) {
.first-post{
	width:89.5%;
	}
.box-1 { 
	width: 17%; 
	paadding:20px;
	calear:left;
	}
.box{ 
	width: 17%;
	maargin-left: 10px;
	paadding:20px;
	}	
}

@media (min-width:768px) and (max-width:959px) {
.first-post{
	width:83%;
	}
.box-1 { 
	clear:none;
	width: 38%; 
	/*height:355px;*/
	padding:20px;
	margin-top:20px;
	margin-left:0px;
	margin-right:8px;
	
		}
.box{ 
	clear:none;
	width: 38%;
	/*height:355px;*/
	padding:20px;
	margin-top:20px;
	margin-left:0px;
	margin-right:8px;
	
		}
div #blog-title {
	font-size:2.0em;
    }
}

@media (min-width:613px) and (max-width:767px) {
.first-post{
	width:89%;
	}
.box-1 { 
	cllear:none;
    width: 38%; 
	padding:20px;
	margin-left:0px;
	margin-right:8px;
	}
.box{ 
	width: 38%;
	padding:20px;
	margin-left:0px;
	margin-right:8px;
	/*height:355px;*/
	}
div #blog-title {
	font-size:1.6em;
    }
}	

@media (min-width:550px) and (max-width:612px) {
.first-post{
	width:86%;
	}
.box-1 { 
	clear:none;
	width:35.5% ; 
	padding:20px;
	margin-left:0px;
	margin-right:11px;
	}

.box{ 
	width: 35.5% ;
	padding:20px;
	margin-left:0px;
	margin-right:11px;
	}
div #blog-title {
	font-size:1.3em;
	    }
}


@media (min-width:500px) and (max-width:549px) {
.first-post{
	float:none;
	width:80%;
	}
.box-1 { 
	width:78% ; 
	padding:20px;
	/*height: 240px;*/
	}

.box{ 

	width: 78% ;
	margin-left: 0px;
	padding:20px;
	/*height: 310px;*/
	}
div #blog-title {
	width:40%;
	font-size:1.45em;
    }

div #branding{
	width:60%;
	}	
}
@media (min-width:350px) and (max-width:499px) {
.first-post{
	float:none;
	width:80%;
	}
.box-1 { 
	width:78% ; 
	padding:20px;
	/*height: 240px;*/
	}

.box{ 
	width: 78% ;
	margin-left: 0px;
	padding:20px;
	/*height: 310px;*/
	}
div #blog-title {
	width:50%;
	font-size:1.4em;
	line-height:auto;	
    }

div #branding{
	width:50%;
	}
#main {
	margin-left:10px;
	}
#header{
	margin-left:20px;
	}
}
@media (max-width:349px) {
.first-post{
	float:none;
	width:73%;
	}
.box-1 { 
	width:70% ; 
	padding:20px;
	/*height: 240px;*/
	}

.box{ 
	width: 70% ;
	margin-left: 0px;
	padding:20px;
	/*height: 310px;*/
	}
div #blog-title {
	width:62%;
	font-size:1.1em;
	line-height:auto;	
    }

div #branding{
	width:38%;
	}
#main {
	margin-left:10px;
	}
#header{
	margin-left:20px;
	}

}