/* One Column Style sheet based on Responsive Web Design .
** Designed By : Muhammad Mubashir Mufti
** Version : 1
** Date : June 17, 2015
*/  
.first-post{
	width:80%;
	}
.box-1 { 
	width: 80%; 
	/*margin-right: 10px;*/
	padding:20px;
	clear:left;
	height:200px;
	}
img {
	max-width:100%;  /* for RWD image*/
	}

@media (min-width:960px) and (max-width:1300px) {
div #branding{
	background-size:100% 100%;
	}
}
@media (min-width:613px) and (max-width:959px) {
div #blog-title {
	font-size:1.6em;
    }
div #branding{
	background-size:100% 100%;
	}
}	
	
@media (min-width:550px) and (max-width:612px) {
 
div #blog-title {
	font-size:1.35em;
	line-height:auto;
    }

div #branding{
	background-size:100% 100%;
	}	
}


@media (min-width:500px) and (max-width:549px) {
 
div #blog-title {
	width:40%;
	font-size:1.3em;
    }

div #branding{
width:60%;
	background-size:100% 100%;
	}	
}

@media (min-width:350px) and (max-width:499px) {

div #blog-title {
	width:50%;
	font-size:1.25em;
	line-height:auto;	
    }

div #branding{
	width:50%;
	background-size:100% 100%;
	}
#main {
	margin-left:10px;
	}
}

@media (max-width:349px) {

div #blog-title {
	width:62%;
	font-size:1.0em;
	line-height:auto;	
    }

div #branding{
	width:38%;
	background-size:100% 100%;
	}
#main {
	margin-left:1px;
	}
}
