/* Asfur 3 */
a, a:link, a:visited {
	color:#020203;
	}
/*.entry-title {
	background:#;
	}*/
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #e3d77b;
	}
#header {
	background:#e3bd7b;
	}
#blog-title a{
color:#020203;

}
.first-post, .box-1, .box {
	background:#c7e37b;
		}	