
/* Red split-complementry 2
*******************************/

a, a:visited, a:link,.entry-title a {
	color: #000;
		}
.entry-title {
	background:#6352a8;
	}
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #a87052 ;
	}
#header {
	background:#6352a8;
	}
#blog-title a{
	color:#000;
	}
.first-post, .box-1, .box {
	background: #52a874; /* change font color to white*/
		}


