/* Ahmer 1*/
a, a:link, a:visited {
	color:#020203;
	}
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #e0c0ca;
	}
#header {
	background:#c78399;
	}
#blog-title a{
	color:#362d31;

}
.first-post, .box-1, .box {
	background-color:#c78399;
		}		

