/* builtin wp class that I use to style SVG graphic in benbodhi's svg plugin*/
svg .wp-post-image{
	bcackground-color:#e0c0ca;
	adding:5px 5px 5px 0px;
	argin:5px 5px 5px -5px;
	width:100px;
	height:100px;
	beorder-radius:5px;
	float:left;
	osverflow:visible;
	maax-width:100%;
	/*
	position:absolute; 
	height:100%; 
	width:100%; 
	left:0; 
	top:0;*/
	}