/* Akhzur 3 */
a, a:link, a:visited {
	color:#304466;
	}
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #b4cfa6;
	}
#blog-title {
	background:#b4cfa6;
	}
#blog-title a{
color:#85b66d;

}
.first-post, .box-1, .box {
	background:#85b66d;
	}
