/* Blue complementry 1
***********************/

a, a:visited {
	color:#304466;
		}
a:link,.entry-title a {
			color:#fff;
			}
/*.entry-title {
	background:#;
	}*/
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #2e2d42;
	}

#header {
	background:#a3896e;
}
#blog-title a{
	color:#020203;
}
.first-post, .box-1, .box {
	background:#a3896e;
		}
	

