/* Ahmer 2 */
a, a:link, a:visited {
	color:#020203;
	}
.entry-title {
	background:#cae0c0;
	}
.entry-title a:hover, .entry-meta a:hover{
	color:#020203;
	}
body {
	background: #e0c0ca;
	}
/*
#header {
	background:#cae0c0;
	}
*/
#blog-title {
	background:#cae0c0;
	}
#branding{
	background:#cae0c0;
	}
	
#blog-title a{
	color:#020203;
}
.first-post, .box-1, .box {
	background:#bfaba0;
		}

/* builtin wp class that I use to style SVG graphic.
// using it from mystyle.css
.wp-post-image{
	bcackground-color:#e0c0ca;
	padding:5px 5px 5px 0px;
	margin:5px 5px 5px -5px;
	border-radius:5px;
	float:left;
	max-width:100%;
		}
		*/